* {
  box-sizing: border-box;
}
/* Define scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #8B4513;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A0522D;
}

/* Define scrollbar styles for Firefox */
/* Note: Firefox supports scrollbar styling starting from version 64 */
/* To ensure compatibility with older versions of Firefox, you can use a library like 'overlay-scrollbar' */
/* More info: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars */
/* Keep in mind that this example does not cover Firefox versions older than 64 */
/* It's always a good idea to test in different browsers to ensure cross-browser compatibility */

/* Track */
scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

/* Handle */
scrollbar-thumb {
  background-color: #8B4513;
}

/* Handle on hover */
scrollbar-thumb:hover {
  background-color: #A0522D;
}

.menu-bar {
  width: 0.8125rem;
  height: 0.625rem;
  flex-shrink: 0;
  cursor: pointer;
}
.cancel {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#overlay {
  height: 100vh;
}
.mob-about {
  height: 55px;
  width: 100%;
  padding-left: 42px;
  color: #fee60b;
  font-family: Alumni Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: #ae6d0a solid 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mob-project {
  height: 55px;
  width: 100%;
  padding-left: 42px;
  color: #fee60b;
  font-family: Alumni Sans;
  border-bottom: #ae6d0a solid 1px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: normal;
}
.mob-contact {
  height: 55px;
  width: 100%;
  padding-left: 42px;
  color: #fee60b;
  font-family: Alumni Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  border-bottom: #ae6d0a solid 1px;
  display: flex;
  cursor: pointer;
  align-items: center;
  line-height: normal;
}
.mob-contact:hover {
  background-color: rgb(204, 201, 201);
  transition: 0.75s;
  border-radius: 30px;
}
.mob-project:hover {
  background-color: rgb(204, 201, 201);
  transition: 0.75s;
  border-radius: 30px;
}
.mob-about:hover {
  background-color: rgb(204, 201, 201);
  border-radius: 30px;
  transition: 0.75s;
}
#name,
#email {
  border-radius: 12.702px;
  background: #d9d9d9;
  padding: 6px 19px;
  outline: none;
  border: none;
  width: 100%;
}
.contactDes{
    color: #000;
font-family: Alumni Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.name {
  color: #000;
  font-size: 1.25rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  height: fit-content;
}
#textArea {
  border-radius: 0px 0px 19.053px 19.053px;
  background: #d9d9d9;
  padding: 17px 180 100 14px;
  outline: none;
}
.name:hover {
  color: #ae6d0a;
  font-size: 1.75rem;
  transition: 0.5s;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: fit-content;
  height: fit-content;
}
#logo-des {
  width: 3.69544rem;
  height: 2.90175rem;
}
#logo-des:hover {
  width: 3.99544rem;
  height: 3.10175rem;
}
.logo-des a {
  width: 3.69544rem;
  height: 2.90175rem;
}
a {
  text-decoration: none;
}
.border-bottoms {
  border-bottom: #f6980c solid 2px;
  cursor: pointer;
}
.viewed {
  color: #fee60b !important;
  font-size: 1.25rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.nav-items {
  color: #000;
  font-size: 1.25rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-items:hover {
  font-size: 1.75rem;
  transition: 0.2s;
  color: #ef940c;
  font-weight: 700;
}
.mobNav {
  background-color: #fff;
  width: 100%;
}
.des-body {
  padding-top: 9.35rem;
  padding-left: 8.31rem;
  padding-right: 7.06rem;
}
.des-body-name {
  color: #ae6d0a;
  font-size: 2.25rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.greet-des {
  color: #000;
  font-size: 1.55rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.des-amb {
  color: #000;
  font-size: 1.55rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job {
  color: #fee60b;
  font-size: 1.95rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-button {
  width: 12.875rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 1.625rem;
  border: 1px solid #ae6d0a;
  color: #000;
  font-size: 2.25rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.contact {
  margin-top: 150px;
  margin-bottom: 50px;
}
.contact-button:hover {
  width: 12.875rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 1.625rem;
  border: 1px solid #c3a67b;
  color: rgb(251, 249, 249);
  font-size: 2.25rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f6980c;
  transition: 0.9s;
}
#submit {
  border-radius: 7px;
  border: 0.701px solid #ae6d0a;
  /* box-shadow: -2.102409839630127px -2.102409839630127px 2.803212881088257px 3.504016160964966px
      #ae6d0a inset,
    0.7008032202720642px 0.7008032202720642px 2.803212881088257px
      0.7008032202720642px #ae6d0a; */
      
flex-shrink: 0;
color: #000;
font-family: Alumni Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#submit:hover{
    
color: #FEE60B;
font-family: Alumni Sans;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 10px;
border: 1px solid #AE6D0A;
/* box-shadow: -3px -3px 4px 5px #AE6D0A inset, 1px 1px 4px 1px #AE6D0A; */
}
.last-sec {
  padding-left: 13.56rem;
  padding-right: 9.44rem;
}
.followMe{
    color: #000;
font-family: Alumni Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}
.downloadCV {
  color: #000;
  font-size: 2.25rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 0.3125rem solid #fee60b;
  cursor: pointer;
}
.downloadCV:hover {
  color: #ae6d0a;
  font-size: 2.15rem;
  font-family: Alumni Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.6s;
}
.lastMobSec {
  margin-top: 1.81rem;
}
.mobContact {
  color: #000;
  font-family: Alumni Sans;
  font-size: 1.45956rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1.05413rem;
  border: 0.649px solid #ae6d0a;
  padding-left: 2.23rem;
  padding-right: 2.32rem;
}
.downloadMob {
  color: #000;
  font-family: Alumni Sans;
  font-size: 1.89475rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 0.26319rem solid #fee60b;
}
.projects {
  margin-top: 122px;
  justify-content: flex-start;
  align-items: flex-end;
}
.projName {
  font-family: Alumni Sans;
  color: #000;
  font-weight: 600;
  font-size: 1.919rem;
}
.projDes {
  color: #000;
  font-family: Alumni Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15rem;
}
.contactMe {
  color: #ae6d0a;
  text-align: center;
  font-family: Alumni Sans;
  font-size: 2.10244rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hidden {
  display: none;
}
.email-hidden {
  display: none;
}
.text-hidden {
  display: none;
}
.icons{
    width: 35px;
height: 35px;
background-color: #FFF;
filter: drop-shadow(0px 1.2893083095550537px 1.2893083095550537px rgba(0, 0, 0, 0.25));
padding: 5px;
border-radius:15px;
}
.rec-works{
    color: var(--neutrals-n-900, #091E42);
font-family: Crete Round;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 52px;
}
.line{
    background-color: #000;
    width: 100%;
    height: 1px;
}
@media (max-width: 767px) {
  .des-body {
    padding-left: 2.31rem;
    padding-right: 1.25rem;
  }
  .last-sec {
    padding: 0;
  }
  .downloadCV {
    width: fit-content;
  }
  .mob-name {
    color: #000;
    font-size: 0.91931rem;
    font-family: Alumni Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mob-logo {
    width: 2.71781rem;
    height: 2.13413rem;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  .lastMobSec {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 319px) and (max-width: 400px) {
  .projImg {
    width: 100%;
  }
  .works{
    flex-direction: column;
  }
  .rec-works{
    font-size: 25px; 
  }
  .projImgcont {
    width: 100%;
  }
  form {
    width: 100% !important;
  }
}
